[submodule "src/main/webapp/static/js/custom/ptAnywhere-js"]
	path = src/main/webapp/static/js/custom/ptAnywhere-js
	url = https://github.com/PTAnywhere/ptAnywhere-js.git
[submodule "src/main/webapp/static/js/custom/widget-ui"]
	path = src/main/webapp/static/js/custom/widget-ui
	url = https://github.com/PTAnywhere/widget-ui.git
