*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Mac OS X
.DS_Store

# IntelliJ IDEA
.idea/
*.iml

# End-to-end tests' dependencies
tests/node_modules


# JavaScript dependencies with Bower
## Bootstrap
src/main/webapp/static/bower_components/bootstrap/*
!src/main/webapp/static/bower_components/bootstrap/dist/
## jQuery
src/main/webapp/static/bower_components/jquery/*
!src/main/webapp/static/bower_components/jquery/jquery.min.js
## jQuery UI
src/main/webapp/static/bower_components/jquery-ui/* 
!src/main/webapp/static/bower_components/jquery-ui/ui/minified/core.min.js
!src/main/webapp/static/bower_components/jquery-ui/ui/minified/widget.min.js
!src/main/webapp/static/bower_components/jquery-ui/ui/minified/mouse.min.js
!src/main/webapp/static/bower_components/jquery-ui/ui/minified/draggable.min.js
## vis.js
src/main/webapp/static/bower_components/vis/*
!src/main/webapp/static/bower_components/vis/dist/