html, body {
	font: 11pt arial;
	background-color: #fff4de;
}

html.plain, html.plain>body {
	background-color: #ffffff;
}

h1 {
	font-size: 150%;
	margin: 5px 0;
}

h2 {
	font-size: 100%;
	margin: 5px 0;
	text-align: right;
}

input[type=text], pre {
	border: 1px solid lightgray;
}

pre {
	margin: 0;
	padding: 5px;
	font-size: 10pt;
}